.opensource {

  h2 {
    margin: 2rem 0;
    text-align: center;
    flex-basis: 100%;
  }
  
  display: flex;
  flex-wrap: wrap;


  article {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;

    .stats {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .icon {
      vertical-align: middle;
    }

    .code-icon {
      font-size: 2rem;
    }
  }

  .btn-group {
    display: flex;
    gap: 1rem;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .card-btn {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: blue;
  }

  .current-card-btn {
    border: 7px solid rgb(175, 175, 250);
  }
}

article.current {
  display: flex;
  background-color: rgb(36, 35, 35);
  color: white;

  p {
    color: white;
  }
}